workflows/jv-webapp-receipts-to-drive.json
{
  "name": "JV webapp Receipts to Drive",
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-receipts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        0
      ],
      "id": "488cba3d-5592-4803-9e6c-9b49cb3e0284",
      "name": "Receipts from Lovable",
      "webhookId": "ced88173-032f-4094-b287-51e88c6d5393"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8df935c4-daef-4050-a836-bb1667a09bd8",
              "name": "current_month",
              "value": "={{ $now.format('LLLL') }}",
              "type": "string"
            },
            {
              "id": "ebd80061-193f-48a6-852d-a5f10118cc5e",
              "name": "folder_name",
              "value": "=Giving Receipts - {{ $now.format('LLL yyyy') }}",
              "type": "string"
            },
            {
              "id": "5279aa10-a54d-4367-8ef5-751901a3a328",
              "name": "file_name",
              "value": "={{ $json.body.member_name.split(' ')[0] }}-{{ $json.body.file_name.split('.')[0] }}",
              "type": "string"
            },
            {
              "id": "21cda1ca-122b-4581-989b-2d9440761676",
              "name": "file",
              "value": "={{ $json.body.file_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "864ccc49-18c4-4153-ba1e-5d003fd5767a",
      "name": "Map Data"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Map Data').item.json.folder_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1yclnL1au6BJc72BiphqJRFdXfGB9PI9y",
          "mode": "list",
          "cachedResultName": "GIVING RECEIPTS FROM WEBAPP",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yclnL1au6BJc72BiphqJRFdXfGB9PI9y"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        976,
        64
      ],
      "id": "4e4ce902-78b8-4320-8ec6-61d0f67fd1af",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cE5dHlHCJ4AruJJr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Set Folder ID & File Field').item.json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        -16
      ],
      "id": "7e0947c3-4e45-4d22-80b3-6fa0be96bcfe",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cE5dHlHCJ4AruJJr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"ok\",\n  \"file_link\": \"{{ $json.webViewLink }}\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1664,
        -16
      ],
      "id": "8543f6d1-30e3-46fe-bf59-dd7cea834cba",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "file",
        "options": {
          "fileName": "={{ $('Map Data').item.json.file_name }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        -16
      ],
      "id": "bda854c4-5373-438f-80bb-c6d9017c8778",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Map Data').item.json.folder_name }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1yclnL1au6BJc72BiphqJRFdXfGB9PI9y",
            "mode": "list",
            "cachedResultName": "GIVING RECEIPTS FROM WEBAPP",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1yclnL1au6BJc72BiphqJRFdXfGB9PI9y"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        0
      ],
      "id": "71a73385-f4d3-4cf1-86a1-716b1c5415c0",
      "name": "Search for existing folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cE5dHlHCJ4AruJJr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "5080c31a-325b-4403-b23d-7d2a0ee0fd7d",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "8f05a356-1730-4c44-a9b6-1d54704e95c9",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "67acde9a-6fd1-45c0-b630-18db2e995868",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Map Data').item.json.folder_name }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        0
      ],
      "id": "4148ea73-0b0b-45f1-8e52-5344423fe9c3",
      "name": "Does Folder Exists?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7eba4b3-e942-4c3a-909e-91a642c3146f",
              "name": "folder_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e3efa2d0-5d3f-4f9b-8018-49aeace58405",
              "name": "file",
              "value": "={{ $('Map Data').item.json.file }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -16
      ],
      "id": "46ff8b14-a76f-45db-9f1b-423b7fd9d157",
      "name": "Set Folder ID & File Field"
    }
  ],
  "connections": {
    "Receipts from Lovable": {
      "main": [
        [
          {
            "node": "Map Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Data": {
      "main": [
        [
          {
            "node": "Search for existing folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Set Folder ID & File Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for existing folder": {
      "main": [
        [
          {
            "node": "Does Folder Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Does Folder Exists?": {
      "main": [
        [
          {
            "node": "Set Folder ID & File Field",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Folder ID & File Field": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "activeVersionId": "21bc6d3c-5e6c-48c7-9aef-1e0e3f2041a8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-30T20:36:22.941Z",
      "createdAt": "2026-01-30T20:36:22.941Z",
      "role": "workflow:owner",
      "workflowId": "1yjHCdLNnk8PpQvEhK0S8",
      "projectId": "iJHIXFAAt39FBOrn"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-31T11:44:45.000Z",
    "createdAt": "2026-01-31T11:41:48.814Z",
    "versionId": "21bc6d3c-5e6c-48c7-9aef-1e0e3f2041a8",
    "workflowId": "1yjHCdLNnk8PpQvEhK0S8",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "save-receipts",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          240,
          0
        ],
        "id": "488cba3d-5592-4803-9e6c-9b49cb3e0284",
        "name": "Receipts from Lovable",
        "webhookId": "ced88173-032f-4094-b287-51e88c6d5393"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8df935c4-daef-4050-a836-bb1667a09bd8",
                "name": "current_month",
                "value": "={{ $now.format('LLLL') }}",
                "type": "string"
              },
              {
                "id": "ebd80061-193f-48a6-852d-a5f10118cc5e",
                "name": "folder_name",
                "value": "=Giving Receipts - {{ $now.format('LLL yyyy') }}",
                "type": "string"
              },
              {
                "id": "5279aa10-a54d-4367-8ef5-751901a3a328",
                "name": "file_name",
                "value": "={{ $json.body.member_name.split(' ')[0] }}-{{ $json.body.file_name.split('.')[0] }}",
                "type": "string"
              },
              {
                "id": "21cda1ca-122b-4581-989b-2d9440761676",
                "name": "file",
                "value": "={{ $json.body.file_data }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          0
        ],
        "id": "864ccc49-18c4-4153-ba1e-5d003fd5767a",
        "name": "Map Data"
      },
      {
        "parameters": {
          "resource": "folder",
          "name": "={{ $('Map Data').item.json.folder_name }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1yclnL1au6BJc72BiphqJRFdXfGB9PI9y",
            "mode": "list",
            "cachedResultName": "GIVING RECEIPTS FROM WEBAPP",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1yclnL1au6BJc72BiphqJRFdXfGB9PI9y"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          976,
          64
        ],
        "id": "4e4ce902-78b8-4320-8ec6-61d0f67fd1af",
        "name": "Create folder",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cE5dHlHCJ4AruJJr",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "name": "={{ $binary.data.fileName }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $('Set Folder ID & File Field').item.json.folder_id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1488,
          -16
        ],
        "id": "7e0947c3-4e45-4d22-80b3-6fa0be96bcfe",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cE5dHlHCJ4AruJJr",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"status\": \"ok\",\n  \"file_link\": \"{{ $json.webViewLink }}\" \n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1664,
          -16
        ],
        "id": "8543f6d1-30e3-46fe-bf59-dd7cea834cba",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "file",
          "options": {
            "fileName": "={{ $('Map Data').item.json.file_name }}"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1328,
          -16
        ],
        "id": "bda854c4-5373-438f-80bb-c6d9017c8778",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "={{ $('Map Data').item.json.folder_name }}",
          "returnAll": true,
          "filter": {
            "folderId": {
              "__rl": true,
              "value": "1yclnL1au6BJc72BiphqJRFdXfGB9PI9y",
              "mode": "list",
              "cachedResultName": "GIVING RECEIPTS FROM WEBAPP",
              "cachedResultUrl": "https://drive.google.com/drive/folders/1yclnL1au6BJc72BiphqJRFdXfGB9PI9y"
            },
            "whatToSearch": "folders"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          592,
          0
        ],
        "id": "71a73385-f4d3-4cf1-86a1-716b1c5415c0",
        "name": "Search for existing folder",
        "alwaysOutputData": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "cE5dHlHCJ4AruJJr",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "5080c31a-325b-4403-b23d-7d2a0ee0fd7d",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "8f05a356-1730-4c44-a9b6-1d54704e95c9",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "67acde9a-6fd1-45c0-b630-18db2e995868",
                "leftValue": "={{ $json.name }}",
                "rightValue": "={{ $('Map Data').item.json.folder_name }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          784,
          0
        ],
        "id": "4148ea73-0b0b-45f1-8e52-5344423fe9c3",
        "name": "Does Folder Exists?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b7eba4b3-e942-4c3a-909e-91a642c3146f",
                "name": "folder_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "e3efa2d0-5d3f-4f9b-8018-49aeace58405",
                "name": "file",
                "value": "={{ $('Map Data').item.json.file }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1152,
          -16
        ],
        "id": "46ff8b14-a76f-45db-9f1b-423b7fd9d157",
        "name": "Set Folder ID & File Field"
      }
    ],
    "connections": {
      "Receipts from Lovable": {
        "main": [
          [
            {
              "node": "Map Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map Data": {
        "main": [
          [
            {
              "node": "Search for existing folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create folder": {
        "main": [
          [
            {
              "node": "Set Folder ID & File Field",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search for existing folder": {
        "main": [
          [
            {
              "node": "Does Folder Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Does Folder Exists?": {
        "main": [
          [
            {
              "node": "Set Folder ID & File Field",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Folder ID & File Field": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Oluwatobi Ajala",
    "name": "JV Webapp Receipts Migration v1",
    "description": "",
    "autosaved": true
  },
  "tags": []
}